h2{
  text-transform: uppercase;
  color: #026467;
}

.table{
  font-size: 1rem;
}
thead tr th{
  background-color: #e5f5ea;
  color: #026467;
}
img{
  border-radius: 50%;
  border:1px solid #026467;
  padding: 2px;
}
td span {
  padding: 3px;
  text-decoration: none;
}






