<header class="box-shadow p-4">
  <div class="d-flex align-items-center justify-content-between">
    <div class="logo">
    <a routerLink="/home" class="site-logo">Morgane-Blog</a>
    </div>
    <div class="search d-flex col-md-4 ">
      <input type="text" >
      <span class="search">Search</span>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="d-flex align-items-center login-nav justify-content-between">
       <i class="fa-solid fa-moon"></i><i class="fa-solid fa-sun"></i>
      <div>
        <img src="assets/user.jpg" alt="user" width="50px" height="50px">
      </div>
      <button class="Btn mx-2">
        <div class="sign"><svg viewBox="0 0 512 512"><path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path></svg></div>
        <div class="text">Logout</div>
      </button>
    </div>
  </div>

</header>
