<div class="container">
  <div class="row" >
    <div class="col-md-12">
      <div class="card box-shadow bg-secondary-theme">
        <div class="card-body text-center">
          <h3 class="text-theme-primary">All Blog Posts</h3>
          <p>From Here you Can Mange Your Blog pots</p>
          <button class="btn bg-theme m-lg-3 text-white" routerLink="/new">Add New Post</button>
          <button class="btn btn-warning " routerLink="/">Back To dashBord</button>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="posts.length==0" class="text-center">
    <div class="d-flex flex-column align-items-center mt-4 box-shadow">
      <img src="assets/empty.jpeg" alt="There's No Posts" width="736" height="552">
    </div>
  </ng-container>
  <div class="row mt-5 " *ngIf="posts.length!==0">
    <div class="col-md-12 m-auto">
      <table class="table box-shadow table-borderless">
        <thead>
        <tr >
          <th class="bg-success-subtle" scope="col">id</th>
          <th class="bg-success-subtle">Image</th>
          <th class="bg-success-subtle">title</th>
          <th class="bg-success-subtle">excerpt</th>
          <th class="bg-success-subtle">category</th>
          <th class="bg-success-subtle">Date</th>
          <th class="bg-success-subtle text-center" colspan="3" >Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of posts , let i=index">
          <th>{{i+1}}</th>
          <th><img [src]="post.data['postImagePath']" alt="post image" width="200px" height="100px"></th>
          <th>{{post.data.title}}</th>
          <th>{{post.data['excerpt']}}</th>
          <th>{{post.data['category']['categoryName']}}</th>
          <th>{{post.data['createAt']['seconds']|date}}</th>
          <th><button class="btn bg-theme text-white" routerLink="/postDetails">Details</button></th>
          <th><button class="btn btn-warning" routerLink="/new" [queryParams]="{id:post.id}" >Edite</button></th>
          <th><button class="btn btn-danger" (click)="deletePost(post.id,post.data['postImagePath'])">Delete</button></th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <app-post-details *ngIf="false"></app-post-details>
  <div class="row ">
    <div class="col-md-12 text-center d-flex justify-content-center">
      <nav aria-label="Page navigation">
        <ul class="pagination" >
          <li class="page-item disabled ">
            <a class="page-link bg-success-subtle ">Previous</a>
          </li>
          <li class="page-item "><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link bg-success-subtle">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
